[mcu cp_Head]
# serial:/dev/ttyACM3
serial:/dev/serial/head
#/dev/serial/by-path/platform-13500000.otg_new-usb-0:1.2.2:1.0
restart_method: command


[temperature_sensor cp_Head_temp]
sensor_type: temperature_mcu
sensor_mcu: cp_Head
min_temp: -100
max_temp: 900

[servo cp1]
pin: cp_Head:PA4
initial_angle: 0
maximum_servo_angle: 180
minimum_pulse_width:0.0008
# minimum_pulse_width: 0.00085
maximum_pulse_width:0.00220
# maximum_pulse_width: 0.00215

[gcode_macro FILAMENT_CUT]
gcode:
    G4 P400
    SET_SERVO SERVO=cp1 ANGLE=178
    G4 P1600
    SET_SERVO SERVO=cp1 ANGLE=2
    G4 P600



[extruder]
max_extrude_cross_section: 80
max_extrude_only_distance:1000.0
full_steps_per_rotation: 200
step_pin: cp_Head:PA9
dir_pin: !cp_Head:PA8
enable_pin: !cp_Head:PA10
#stepx
microsteps: 16
rotation_distance: 4.49223296
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: cp_Head:PA2
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: cp_Head:PA1 #PA3
control: pid
pid_Kp:41.325
pid_Ki:1.887
pid_Kd:226.252
min_temp: -50
max_temp: 350
min_extrude_temp: 0


[verify_heater extruder]
heating_gain: 2
check_gain_time:35
hysteresis: 10
max_error: 9999999999


# [probe]
# pin: cp_Head:PA3

# x_offset: 33
# y_offset: -1.5
# z_offset:0.5
# speed: 100 #300
# lift_speed: 10.0
# samples: 5 #9
# samples_result: median
# sample_retract_dist: 0.5
# samples_tolerance: 0.1
# samples_tolerance_retries: 10
    


[heater_fan extruder]
heater: extruder
pin: cp_Head:PA0 # PA1
heater_temp: 50.0


# [fan]
# pin: cp_Head:PC9 #PA0


#喷嘴风扇#
[output_pin fan0]
pin: cp_Head:PC9 #PA0
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.00
scale: 255
shutdown_value: 0.0